* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  height: 2000px;
  background: rgb(7, 94, 133);
  background: linear-gradient(
    315deg,
    rgba(7, 94, 133, 1) 0%,
    rgba(56, 188, 248, 1) 100%
  );
} */

a {
  text-decoration: none;
  color: inherit;
}
