* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background: linear-gradient(
    145deg,
    rgba(156, 182, 221, 1) 0%,
    rgba(74, 89, 137, 1) 100%
  );
} */

a {
  text-decoration: none;
  color: inherit;
}
